/* frontend/src/index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* --- YEH NAYA ADD HUA HAI --- */
  background-color: #f1f3f6; /* Flipkart ka light grey background */
}

main {
  min-height: 80vh;
}

/* --- YEH CLASSES HUM BAAD MEIN USE KARENGE --- */
.card-shadow {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  border-radius: 2px;
  border: 1px solid #e0e0e0;
}